<%- include('partials/header') %>
<section id="title">

  <nav class="navbar navbar-expand-lg ">
    <a class="nav-brand" href="">About Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
  <!-- <div class="head-bar">
    <h1 class="tb"> Thought Box</h1>
  </div> -->
<div class="about-content">
  <p>
    Thought Box is just an another website to publish your daily thoughts .
    All you gotta do is to register/login with a single click and enjoy hastle free publishing
    of your thoughts.
    Let the world know how you feel about the world.
   </p>
</div>
</section>






<%- include('partials/footer') %>
