<%- include('partials/header') %>
<section id="title">

  <nav class="navbar navbar-expand ">
    <a class="nav-brand" href="">Let the thought be stored in thought box</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
  <!-- <div class="head-bar">
    <h1 class="tb"> Thought Box</h1>
  </div> -->
<div class="about-content">
  <form class="" action="/create" method="post">
    <textarea name="thought" rows="8" cols="40"></textarea>
    <button type="submit" name="button" class="btn btn-lg btn-light"> Post </button>
  </form>
</div>
</section>






<%- include('partials/footer') %>
